.App {
  text-align: center;
  font-weight: bold;
}

:root {
  --image-width: 400px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-image: url(./assets/marsSurface.jpg);
}
